{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-md-100 background-image" role="img" aria-label="A Yorkshire Terrier enjoying a cozy environment">
    <div class="row mt-md-5 flex-md-row-reverse px-5 px-md-0">
        <div class="col-12 col-md-6 home-gold-border pt-3 pt-md-5">
            <h1 class="logo-font pt-md-5 pl-2 px-md-5">
                Welcome to Pet Vibe!
            </h1>
            <h2 class="px-2 px-md-5 pt-2 pt-md-5 tagline">
                Making Pets Shine, because they're worth it!
            </h2>
            <div class="px-2 px-md-5 pt-3 pt-md-5 pb-4">
                <a href="{% url 'products' %}" class="btn gold-button d-block d-lg-inline">Shop Now</a>
                <a href="{% url 'services' %}" class="btn gold-button d-block d-lg-inline mt-3 mt-md-3 mt-lg-0 ml-lg-2">Grooming</a>
            </div>
        </div>
        <div class="col-12 col-md-6 home-image-container d-none d-md-flex" role="img" aria-label="A Yorkshire Terrier">
        </div>
        <div class="col-12 col-md-6 home-gold-border d-md-none mobile-image-container p-0">
            <img class="img-fluid" src="{{ MEDIA_URL }}yorkshire.jpg" alt="Yorkshire Terrier">
        </div>
    </div>
</div>
<div class="container mt-5 text-center pb-5">
    <h3>Your pet's happiness is our priority.</h3>
    <p>We provide top-notch grooming services and a wide range of quality products to keep your pets happy and healthy.</p>
</div>
{% endblock %}