html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: 'Raleway', sans-serif;
    color: #313135;
}

/* Buttons */
.gold-button {
    background: #aa9060;
    color: black;
    font-weight: 300!important;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.gold-button:hover {
    color: white;
}

/* Navbar */
.navbar-nav .nav-link {
    text-transform: uppercase;
    color: #4D4E54;
    font-size: 14px;
    font-weight: 400 !important;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #A99166;
}

.navbar-toggler {
    padding: .6rem;
    font-size: 1rem;
    color: #A99166;
}

.dropdown-menu {
    background: white;
    border: 1px solid #A99166;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: #4D4E54;
    font-size: 0.9rem;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #A99166;
    color: white;
}

/* Logo Link */
.main-logo-link {
    color: #A99166 !important;
    font-weight: bold;
}

.main-logo-link:hover {
    color: #85643F;
}

/* Search Bar */
.input-group .form-control {
    border: 2px solid #A99166;
}

.input-group .form-control:focus {
    box-shadow: 0 0 5px #A99166;
    border-color: #A99166;
}

.input-group .btn {
    border: 2px solid #A99166;
    background-color: #A99166;
    color: white;
}

/* Borders */
.border-gold {
    border: 2px solid #A99166 !important;
}

/* Text Colors */
.text-gold {
    color: #A99166 !important;
}

.text-jet {
    color: #4D4E54 !important;
}


/* Home Page */
.home-gold-border {
    border: 2px solid #A99166;
}

.logo-font {
    font-size: 4rem;
    line-height: 100px;
    font-weight: 400;
    color: #A99166;
}

.background-image {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 900px;
    border: none !important; 
}

.mobile-image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.lema {
    font-size: 1.5rem;
    font-weight: 400;
}

.home-image-container {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-image: url('/media/yorkshire.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 800px;
    border: none;
}

/* Product Cards */
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
    min-height: 250px;
}


.like-btn {
    z-index: 5000;
    position: relative;
    top: 40px;
    right: 15px;
    text-align: right;
}

.like-btn a {
    color: white;
}

.edit-delete-btns {
    z-index: 5000;
}

/* Product Detail */
.product-detail-image {
    width: 100%;
    height: 40vw;
    object-fit: cover;
    min-height: 400px;
}

.product-description {
    background-color: #F5F6F4;
    height: 15vw;
}

/* Back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: white;
    border: 2px solid #A99166;
}

.btt-link {
    cursor: pointer;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* bag */
/* disable arrow buttons on number input Credit W3 Schools  */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Allauth form formatting */
.allauth-form-inner-content p {
    margin-top: 1rem;
}

.allauth-form-inner-content input {
    border-color: #A99166;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #4D4E54;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border: 1px solid #A99166;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
}


/* Messages */
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* -------------------------------- Media Queries */


/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

/* Fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    
    .header-container {
        padding-top: 115px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 70px;
    }
    
    body {
        height: calc(100vh - 116px);
    }
    
    .logo-font {
        font-size: 3rem;
        line-height: 75px;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .lema {
        font-size: 1rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }
    
    .navbar-nav .nav-item {
        margin-bottom: 10px; /* Add spacing for stacked items */
    }

    .btn.btn-outline-black.rounded-0,
    .btn.gold-button {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.gold-button {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

}

@media (max-width: 767.98px) {
    .home-text-container {
        background-color: rgba(52, 52, 52, 0.5);
        color: white;
        padding: 1.5rem;
    }

    .navbar-toggler {
        font-size: 0.9rem;
    }
}