<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto ">
        <li class="nav-item d-block d-md-none"></li>
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ALL Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=toys" class="dropdown-item">Toys</a>
                <a href="{% url 'products' %}?category=food" class="dropdown-item ">Foods</a>
                <a href="{% url 'products' %}?category=beds" class="dropdown-item">Beds</a>
                <a href="{% url 'products' %}?category=treats" class="dropdown-item">Treats</a>
                <a href="" class="dropdown-item">Groomming</a>
                <a href="{% url 'products' %}?category=toys,food,beds,treats" class="dropdown-item">All Products</a>
            </div>
        </li>
        
        <li class="nav-item">
            <a class="font-weight-bold nav-link" href="#"id="groomming-link">
                Grooming
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link" href="#"id="testtimonials-link">
                Testimonials
            </a>
        </li>
        <li class="nav-item">
            <a class="font-weight-bold nav-link" href="#" id="contact-link">
                Contact
            </a>
        </li>
    </ul>
</div>