{% extends "base.html" %}
{% load static %}

{% block extra_title %}Pet Vibe | Add Service{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <h1 class="text-center">Add New Service</h1>
    <hr>
    <br>
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-6 mt-3 add-recipe-outer">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn gold-button">Add Service</button>
                <a class="btn btn btn-outline-dark m-2" href="{%  url 'services' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}