{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}Pet Vibe | Edit Testimonial{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Edit Testimonial</h1>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-8 col-lg-6">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-outline-dark border-gold rounded-0">Save Changes</button>
                    <a href="{% url 'testimonials' %}" class="btn btn-outline-dark border-gold rounded-0 m-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
