{% extends "base.html" %}
{% load static %}

{% block extra_title %}Pet Vibe | Edit Service{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Edit Service</h1>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-8 col-lg-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn gold-button">Save Changes</button>
                <a href="{% url 'services' %}" class="btn btn-outline-secondary ml-3">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}